<section  class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
            <div class="card-body py-4 px-4 px-md-5">
  
              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <!-- <i class="fa fa-list" aria-hidden="true"></i> -->
                <u>To-do</u>
              </p>
  
              <div class="pb-2">
                <div class="card">
                  <div class="card-body">
                      <form  (keydown)="keyDownFunction($event)" [formGroup]="myForm" >
                        <div class="d-flex flex-row align-items-center" >
                            <input formControlName="task" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Add new...">
                            <a  data-mdb-toggle="tooltip" title="Set due date"><i class="fas fa-calendar-alt fa-lg me-3"></i></a>
                            <div>
                              <button (click)="addTask()" (keyup.enter)="addTask()" type="button" class="btn btn-primary">Add</button>
                            </div>
                          </div>
                      </form>

                  </div>
                </div>
              </div>
  
              <hr class="my-4">
  
              <div class="list-wrapper">
                <ul class="list-group list-group-horizontal rounded-0 bg-transparent" *ngFor="let item of myList.slice().reverse(); let i = index">
                  <li class="list-group-item d-flex rounded-0 border-0 bg-transparent">
                    <div class="form-check">
                      <input
                        class="form-check-input me-0"
                        style="zoom: 1.5;"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked1"
                        aria-label="..."
                        [checked] = 'item.isChecked'
                        (change) = "checktask(myList.length -i-1)"
                      />
                    </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                    <p class="lead fw-normal mb-0">{{item.task}}</p>
                  </li>
                  <li class="d-flex list-group-item align-items-center rounded-0 border-0 bg-transparent">
                    <div class="text-end text-muted">
                      <a  class="text-muted" data-mdb-toggle="tooltip" title="Created date">
                        <p class="small mb-0">{{item.date | date:'short'}}</p></a>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-end mb-1 icon-wrapper">
                      <a  class="text-info mx-2" data-mdb-toggle="tooltip" title="Edit todo"><i  (click)="edit(myList.length -i-1)"  class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a  class="text-danger" data-mdb-toggle="tooltip" title="Delete todo"><i (click)="deleteTask(myList.length -i-1)" class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
  
                  </li>
                </ul>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
